@import './variables.scss';
@import './mixins.scss';


.gradbg {
    @include gradient-img();
}

.sections {
    @include gradient-img(rgba(80,120,15,1), 500px, './restaurant.jpg');
}

.row p {
    border: solid;
    border-radius: 1px;
    background-color: darken($primary-color, $amount: 10);
}